/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  padding-top: 50px;
}

.card {
  margin-top: 50px;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.material-form {
  margin-bottom: 0; /* Remove bottom margin to avoid extra space */
}

.input-field {
  margin-bottom: 20px;
}

.input-field input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.input-field label {
  color: #000;
}

.input-field .active {
  color: #000;
}

.input-field .error {
  color: red;
}

.input-field button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

/* Chat Interface */
#chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  padding: 10px;
}

#message-container {
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.sender {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 10px;
  margin-left: auto;
}

.receiver {
  align-self: flex-start;
  background-color: brown;
  color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px;
  margin-right: auto;
}

#sender {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

#message-input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#send-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
